@charset "utf-8";
i, em{font-style:normal}
.owl-item {float:left;}
.owl-carousel .owl-wrapper {display: none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.owl-stage-outer{overflow:hidden;}
.owl-stage:after{display:block; content:"";clear:both;}
.owl-stage-outer:after{display:block; content:"";clear:both;}
.disabled{display:none}


/*===========================================
  line
=============================================*/
.bd-line{background:#f7f7f7;}
.bd-line.m-show{display:none;}
	@media only screen and (max-width:1300px) {
		
	}
	@media only screen and (max-width:999px) {
		.bd-line{height:10px; width:calc(100% + 40px); margin-left:-20px;}	
	}
	@media only screen and (max-width:860px) {
		.bd-line.m-show{display:block;}
	}
	@media only screen and (max-width:680px) {
		.bd-line{width:calc(100% + 30px); margin-left:-15px;}	
	}
	@media only screen and (max-width:480px) {
		
	}

/*===========================================
  skipNavi
=============================================*/
#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}


/*===========================================
  u-tit01
=============================================*/
.u-tit01{font-size:25px; font-weight:700; color:#0075c1; letter-spacing:-0.03em; line-height:1.2em; margin-bottom:30px;}
	@media only screen and (max-width:1300px) {
		.u-tit01{font-size:21px; margin-bottom:20px}
	}

/*===========================================
  u-tab
=============================================*/
.u-tab01{text-align:center;}
.u-tab01 ul{background:#e1f5ff; border-radius:44px; padding:4px; font-size:0;display:inline-block;vertical-align:top;box-shadow: 0 3px 7px rgba(0, 116, 193, 0.3)  ; -webkit-box-shadow: 0 3px 7px rgba(0, 116, 193, 0.3);-moz-box-shadow: 0 3px 7px rgba(0, 116, 193, 0.3)  ; }
.u-tab01 li{display:inline-block;vertical-align:top;}
.u-tab01 li a{display:block; line-height:36px;font-size:16px; color:#0075c1; letter-spacing:-0.035em; border-radius:36px; padding:0 14px;}
.u-tab01 li.active a{background:#0075c1; color:#fff}
.u-tab01 li:nth-child(n+2){margin-left:105px;}
.u-tab01 li.active a{}
.u-tab01 li a:hover{background:#fff; color:#0075c1;}
	@media only screen and (max-width:1300px) {
		.u-tab01 li a{font-size:15px;}
	}
	@media only screen and (max-width:999px) {
		.u-tab01{display:block;width:calc(100% + 40px); margin-left:-20px; border-bottom:2px solid #e7e7e7}
		.u-tab01 ul{text-align:center;overflow:visible; font-size:0; padding:0; display:block; background:none;box-shadow: none; -webkit-box-shadow:none;-moz-box-shadow:none ; }
		.u-tab01 li{float:none; display:inline-block;vertical-align:top; min-width:25%;}
		.u-tab01 li:nth-child(n+2){margin-left:0;}
		.u-tab01 li a{font-size:15px; padding:0 15px; height:47px; line-height:47px;font-weight:500;position:relative;border-radius:0; color:#333;}
		.u-tab01 li.active a{background:none; color:#0075c1;font-weight:700;}
		.u-tab01 li.active a:after{width:100%;height:2px; background:#0075c1;bottom:-2px; left:0; display:block;content:""; position:absolute;}
	}
	@media only screen and (max-width:680px) {
		.u-tab01{width:calc(100% + 30px); margin-left:-15px;}
		.u-tab01 li a{padding:0 12px;}
	}
	@media only screen and (max-width:480px) {
		.u-tab01 li a{font-size:14px;}
	}

/*===========================================
  input & select
=============================================*/
.field:after{display:block;content:"";clear:both;}
.chk-input {display:inline-block; vertical-align:top; position:relative;}
.chk-input input{height:48px;border:none; font-weight:400; letter-spacing:-0.67px; background:#fff; color:#1f1f1f; padding:0 12px;font-size:16px; box-sizing:border-box; display:block; width:100%; position:relative;}
.chk-input input::placeholder{opacity:0.5; color:#8d8d8d !Important}
	
	@media only screen and (max-width:999px) {
		
	}
	@media only screen and (max-width:680px) {
		
	}
	@media only screen and (max-width:480px) {
	
	}
	
.chk-select{position:relative; box-sizing:border-box;display:inline-block; vertical-align:top}
.chk-select:after{background:url(/images/Sub/select-arrow.png) no-repeat center center; background-size:12px auto; position:absolute; width:20px; height:20px; margin-top:-10px; position:absolute; right:8px; top:50%; display:block; content:""; z-index:3; opacity:0.9}
.chk-select select{font-size:16px; border:1px solid #e1e1e1; width:100%; height:39px; color:#666; box-sizing:border-box; padding:0 30px 0 7px; -webkit-appearance:none; -moz-appearance:none;background:none; appearance:none;width:100%; margin:0; letter-spacing:-0.67px; position:relative; z-index:5; cursor:pointer;}
.chk-select select::-ms-expand{display:none;}
.chk-select.active select{color:#1f1f1f;}
	@media only screen and (max-width:999px) {
		
	}
	@media only screen and (max-width:680px) {
		
	}
	@media only screen and (max-width:480px) {
	
	}

.chk-radio{display:inline-block; font-size:0px; vertical-align:middle; line-height:100%; color:#000;}
.chk-radio input[type="radio"]{position: absolute; width:1px; height: 1px; padding: 0; margin:-1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.chk-radio input[type="radio"] + label{display:block; position:relative; padding-left:36px; font-size:16px; line-height:1.2em; min-height:28px; box-sizing:border-box; padding-top:4px; color:#fff; font-weight:400; letter-spacing:-0.67px; cursor:pointer;}
.chk-radio input[type="radio"] + label:before{content:''; position: absolute; left:0px; top:0px; box-sizing:border-box;width:28px; height:28px; text-align:center; background:#fff;border-radius:100%;}
.chk-radio input[type="radio"]:checked + label{color:#fff;}
.chk-radio input[type="radio"]:checked + label:before{background:url(/images/Sub/radio-on.png) no-repeat center #9ecd14; background-size:50% auto;}
	@media only screen and (max-width:999px) {
		
	}
	@media only screen and (max-width:680px) {
		
	}
	@media only screen and (max-width:480px) {
	
	}
	
.chk-check{display:inline-block; font-size:0px; vertical-align:middle; line-height:100%; color:#000;}
.chk-check input[type="checkbox"]{position: absolute; width:1px; height: 1px; padding: 0; margin:-1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.chk-check input[type="checkbox"] + label{display:block; position:relative; padding-left:36px; font-size:16px; line-height:1.2em; min-height:28px; box-sizing:border-box; padding-top:4px; color:#fff; font-weight:400; letter-spacing:-0.67px; cursor:pointer;}
.chk-check input[type="checkbox"] + label:before{content:''; position: absolute; border-radius:2px; left:0px; top:0px; box-sizing:border-box;width:28px; height:28px; text-align:center; background:#fff;border-radius:1px;}
.chk-check input[type="checkbox"]:checked + label{color:#fff;}
.chk-check input[type="checkbox"]:checked + label:before{background:url(/images/Sub/check-on.png) no-repeat center #9ecd14;background-size:60% auto;}
	@media only screen and (max-width:999px) {
		
	}
	@media only screen and (max-width:680px) {
		
	}
	@media only screen and (max-width:480px) {
	
	}


/*===========================================
  .tbl-type
=============================================*/
.tbl-type01{table-layout:fixed;border-top:1px solid #4d4d4d; }
.tbl-type01 thead{}
.tbl-type01 thead th{background:#33353e;border-bottom:1px solid #25272d;padding:18px 10px; text-align:center;color:#fff; font-weight:400; font-size:16px; line-height:1.2em; letter-spacing:-0.67px}
.tbl-type01 tbody th{background:#52545f;border-bottom:1px solid #25272d; padding:12px 10px; text-align:center;color:#fff; font-weight:400; font-size:16px; line-height:1.2em;letter-spacing:-0.67px}
.tbl-type01 tbody td{background:#52545f;border-bottom:1px solid #25272d; padding:12px 10px; text-align:center;color:#fff; font-weight:400; font-size:16px; line-height:1.2em;letter-spacing:-0.67px}
.tbl-type01 tbody td.l a{display:block;color:#c7f60e}
.tbl-type01 tbody td a{color:#fff;}

.tbl-type01 .arrow-ctrl{color:#fff; display:inline-block;vertical-align:top; padding-right:17px; background:url(/images/Sub/ico-down.png) no-repeat right 67%; background-size:12px auto;}
.tbl-type01 .arrow-ctrl.active{background-image:url(/images/Sub/ico-up.png)}

.tbl-type01 .view-btn{width:57px;height:32px; border-radius:2px; text-align:center; background:#3b3b3b; font-size:14px; font-weight:400; letter-spacing:-0.58px;color:#fff;display:inline-block;vertical-align:top;line-height:32px;}
.tbl-type01 .view-btn:hover{background:#111;}
.tbl-type01 .delete-btn{width:24px;height:24px;display:inline-block;vertical-align:top;background:url(/images/Sub/ico-delete.png) no-repeat center center; background-size:16px auto;}

.tbl-type01 .state{width:16px;height:16px;display:inline-block;vertical-align:top; border-radius:100%;}
.tbl-type01 .state.normal{background:#10b33c;}
.tbl-type01 .state.poor{background:#ff7100;}
.tbl-type01 .state.being{background:#909090;}
	@media only screen and (min-width:1000px) and (max-width:1320px){
		.tbl-type01 thead th{font-size:15px;}
		.tbl-type01 tbody td{font-size:15px;}
	}
	@media only screen and (max-width:999px) {
		.tbl-type01 .delete-btn{background-size:100% auto;}

		.tbl-type01 .state{width:auto; padding-left:22px;position:relative;background:none !important}
		.tbl-type01 .state span{display:block; width:auto;height:auto;overflow:visible;position:relative;top:auto;left:auto;display:block;text-indent:0;line-height:16px; font-size:14px;color:#fff; letter-spacing:-0.58px;}
		.tbl-type01 .state:before{position:absolute; left:0; top:0; width:16px;height:16px; display:block; content:"";border-radius:100%;}
		.tbl-type01 .state.normal:before{background:#10b33c;}
		.tbl-type01 .state.poor:before{background:#ff7100;}
		.tbl-type01 .state.being:before{background:#909090;}
	}
	@media only screen and (max-width:680px) {
		
		
	}
	@media only screen and (max-width:480px) {
		
	}


/*===========================================
  .paging-wrap
=============================================*/
.paging-wrap{font-size:0px; text-align:center; display:block; position:relative; margin-top:55px;}
.paging-wrap a.ctrl{ display:inline-block;vertical-align:top;text-decoration:none; width:20px; height:20px;text-align:center; ;box-sizing:border-box; border:none}
.paging-wrap li, .paging-wrap ul{display:inline-block; vertical-align:top;}
.paging-wrap ul{padding:0 15px; font-size:0;}
.paging-wrap li{margin:0 7px;position:relative;}
.paging-wrap li.active{z-index:5;}
.paging-wrap li a{display:block; position:relative; text-decoration: none;min-width:20px; height:20px;  letter-spacing:-0.03em;font-size:16px; border:none; font-weight:400; padding:0 5px;color:#929292; text-align:center;line-height:20px;box-sizing:border-box;font-weight:400; }
.paging-wrap li.active a{color:#0075c1;font-weight:700;}
.paging-wrap li a:hover{color:#0075c1;}

.paging-wrap a.prev{background:url(/images/Sub/page-prev.png) no-repeat center center;  background-size:8px auto;}
.paging-wrap a.next{background:url(/images/Sub/page-next.png) no-repeat center center;  background-size:8px auto;}
	@media only screen and (max-width:999px) {
		.paging-wrap{margin-top:45px;}
		.paging-wrap ul{padding:0 12px;} 
		.paging-wrap li{margin:0 4px;}
		.paging-wrap li a{min-width:15px; font-size:14px;}
	}
	@media only screen and (max-width:680px) {
		.paging-wrap{margin-top:35px;}
	}
	@media only screen and (max-width:480px) {
		.paging-wrap{margin-top:25px;}
	}




/*===========================================
  .field & lower & upper
=============================================*/
.field{font-size:0;position:relative;}
.field:after{display:block; content:"";clear:both}
.lower:after, .upper:after{display:block; content:"";clear:both}
.mobile-con{display:none;}
	@media only screen and (max-width:999px) {
		.mobile-con{display:block;}
	}

/*===========================================
   nscrolls
=============================================*/
.nscrolls {overflow-x:hidden; box-sizing:border-box;}
.nicescroll-rails{padding-right:0px;display:block; ; max-width:8px; border-radius:0;margin-left:2px;margin-top:0; opacity:1 !important; background:#cbcdce !important;}
.nicescroll-cursors {margin-right:0; border:none !important;cursor:pointer; margin-right:0;}
.nicescroll-rails .nicescroll-cursors{border:none !important; box-sizing:border-box;margin-right:0; }
.nicescroll-rails-hr{margin-top:10px; background:#cbcdce !important; margin-left:0 !important; max-width:none !important; padding-left:10px;}
.nicescroll-rails-hr .nicescroll-cursors{margin-top:1px !important}

.layer-wrap .nicescroll-rails{margin-left:10px;}